
html{
    overflow: hidden
}

html, body 
{ 
    width: 100%; 
    height: 100%;
    margin: 0;
}

body{
    background-color: #485263;
}

#container{
    width:100%;
    height:100%;
}


.header{
    background-color:rgb(39, 38, 38);
    width: 100%;
    height: 30vh;
    position: initial;
    border-bottom: 4px solid black;
    border-radius: 0 0 15px 15px;
}

#title-line{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-align: center;
    margin: auto;    
    font-size: 10ch;
    color: white;
}

.floatinglist-stations{
    font-size: 5ch;
    position: relative;
    height: fit-content;
    color: white;
    top: 12%
}

.floatinglist-stations p{
    text-align: left;
    position:absolute;
    width: 17ch;
    box-sizing: border-box;

    margin:0;
    padding:0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

.nextstop1{
    left:11%;
}

.nextstop2{
    left:28.5%;
}

.nextstop3{
    left:45%;
}

.nextstop4{
    left:62%;
}

.nextstop5{
    left:82.5%;
}


.floatinglist-time{
    font-size: 4ch;
    position: relative;
    width: 100%;
    color: gold;
    top: 44%
}

.floatinglist-time p{
    text-align: left;
    position:absolute;
    width: 15ch;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.timestop1{
    left:16%;
}

.timestop2{
    left:34.5%;
}

.timestop3{
    left:51%;
}

.timestop4{
    left:68%;
}

.timestop5{
    left:87.5%;
}


.clock{
    position: fixed;
    top: 0%;
    right: 0%;
    font-size: 8ch;
    color: lightskyblue;
    margin: 4px;

}

/*

ul{
    text-align: center;
    display: table;
    width: 100%;
    list-style: none;
}
ul li{
    display: table-cell;
    text-align: center;
    padding-top: 3em;
    margin: 5em 5%;
}

ul li{
    display: inline;
}
*/